* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #111;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00adb5;
}

.menu-toggle {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

/* Hero */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.color {
    background-color: aquamarine;
}

.hero span {
    color: #222831;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: #222831;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #393e46;
}

/* Sections */
section {
    padding: 80px 50px;
    text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.projects .project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Contact */
.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #111;
    color: white;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background: #111;
        flex-direction: column;
        width: 200px;
        display: none;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}